:root {
	/* color */
	--color-primary: rgb(212, 233, 255);
	--color-secondary: hsl(210deg 17% 24%);
	--color-success: hsl(154deg 72% 48%);
	--color-warning: rgb(255, 195, 66);;
	--color-danger: hsl(340deg 100% 63%);

	/* surface */
	--color-surface: hsl(228, 8%, 12%);

	/* border */
	--border-line-width: 0.1rem;
	--border-radius: 0.5rem;

	/* space */
	--space-large: 1rem;
	--space-medium: 0.75rem;
	--space-small: 0.5rem;

	/* font */
	--font-size-large: 2rem;
	--font-size-medium: 1.5rem;
	--font-size-normal: 1rem;
}