.container {
	display: flex;
	flex-direction: column;
	gap: var(--space-medium);
	width: 40vw;
}

.textarea {
	flex: 1;
	font-size: var(--font-size-medium);
}

.form {
	display: inline-flex;
	gap: var(--space-medium)
}

.input {
	flex: 1;
}

.submit {
	text-transform: uppercase;
}

.submit, .input {
	font-size: var(--font-size-medium);
}