.container {
	--color: var(--color-danger);

	display: inline-flex;
	align-content: center;
	align-items: center;
	gap: var(--space-small);
	color: var(--color);
	padding: 0 0.3rem;
	border: 0.1rem solid var(--color);
	border-radius: var(--radius-primary);
}

.container::before {
	--size: 0.75rem;

	display: inline-block;
	content: '';
	width: var(--size);
	height: var(--size);
	border-radius: calc(var(--size) / 2);
	background-color: var(--color);
}